
@{
    ViewBag.Title = "Home Page";
}

<a href="/Student/Dashboard" class="btn btn-danger"> Dashboard</a>
<a href="/Student/Addstudent" class="btn btn-danger"> AddStudent</a>
<a href="/Student/Admin" class="btn btn-danger"> Admin</a>
<a href="/Student/Index" class="btn btn-danger"> Index</a>