
@model lab1.Models.Admin

<h2>Admin</h2>

<form action="" method="post">

    <input type="text" name="UserName" class="form-control" placeholder="Username">

    <input type="text" name="Password" class="form-control" placeholder="Password">



    <input type="submit" class="btn btn-block" value="LOGIN" />
</form>


